@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color: #292827;
}

@layer base {
    @font-face {
        font-family: 'vibes';
        src: url('assets/fonts/vibes-regular.ttf');
        font-display: swap;
    }
}

@layer utilities {
    .underline-left::before {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        content: '';
        background-color: #696969;
        transform: scaleX(0);
        transform-origin: left center;
        transition: transform 0.6s ease-in-out, background-color 0.3s ease-in-out;
    }
    .underline-left:hover::before {
        transform: scaleX(1);
        background-color: #292827;
    }
    .underline-left {
        position: relative;
    }
}
