@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color: #292827;
}

@layer base {
    @font-face {
        font-family: 'vibes';
        src: url('assets/fonts/vibes-regular.ttf');
        font-display: swap;
    }
    @font-face {
        font-family: 'info';
        src: url('assets/fonts/info-regular.ttf');
        font-display: swap;
    }
}

@layer utilities {
    .underline-left::before {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        content: '';
        background-color: #696969;
        transform: scaleX(0);
        transform-origin: left center;
        transition: transform 0.6s ease-in-out, background-color 0.3s ease-in-out;
    }
    .underline-left:hover::before {
        transform: scaleX(1);
        background-color: #292827;
    }
    .underline-left {
        position: relative;
    }

    .accordeon {
        display: flex;
        justify-content: space-between;
        transform: translateY(-100%);
        margin: 0 0 0 30px;
        opacity: 0;
        transition:
                transform 0.5s ease-in,
                opacity 0.5s 0.6s linear,
                margin 0.5s 0.3s ease-in-out
    }

    .accordeon.open {
        transform: translateY(0);
        opacity: 1;
        margin: 30px;
    }
    .accordeon.close {
        transition:
                transform 0.5s ease-in,
                opacity 0.3s linear,
                margin 0.5s 0.3s ease-in-out;
    }
}
/* Vue Transition */
.page-enter-active,
.page-leave-active {
    transition: opacity 2s ease;
}

.page-enter-from,
.page-leave-to {
    opacity: 0;
}
